body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    background-color: dimgray;
    color: white;
}

.header {
    background-color: black;
    font-size: 40px;
    padding: 10px;
    width: 100%;
}

.green-colored {
    color: darkgreen;
}

.blue-colored {
    color: darkblue;
}

.red-colored {
    color: darkred;
}

.aqua-colored {
    color: aqua;
}
