@{
    ViewData["Title"] = "Home Page";
}

<h1>Multiplication Table</h1>
<div>
    <p id="infoParagraph"></p>
    <table id="multiplicationTable"></table>

    <script src="multiplicationTable.js"></script>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius, lacus vitae auctor tincidunt, ex tellus convallis nibh, a scelerisque massa metus id nisi. Donec nec libero ex. Aliquam ac justo ex. Aliquam tristique in est ac iaculis. Morbi sagittis vitae turpis ut fermentum. Nulla neque libero, auctor non dictum nec, pellentesque vel purus. Cras eu odio ipsum. Proin auctor iaculis vehicula.

    Quisque malesuada vel augue ut tincidunt. Mauris dapibus laoreet ligula, eu blandit felis ornare et. Donec eros elit, mattis ut tellus vitae, egestas vehicula justo. Nulla non laoreet dui. Suspendisse volutpat et odio nec dignissim. Vestibulum eget sem urna. Sed maximus justo id ultrices volutpat. Proin dui nulla, imperdiet et augue a, blandit sollicitudin dui. Suspendisse iaculis vitae ipsum quis mattis. Nunc sagittis sem nec leo efficitur vestibulum.

    Vestibulum porttitor tincidunt viverra. Curabitur porttitor quam sem, a ultrices lorem condimentum sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In et mauris eros. Fusce blandit erat condimentum orci rhoncus, ut vehicula turpis commodo. Donec venenatis fermentum erat scelerisque malesuada. Nulla fringilla pharetra pulvinar. Curabitur non bibendum ex. Nunc egestas efficitur tellus at congue. Vivamus sollicitudin vulputate odio, quis venenatis sapien dictum et. Fusce aliquet orci et luctus efficitur. Aenean quis vehicula purus. Sed pharetra tincidunt neque, sit amet lacinia turpis aliquet ac. Nullam ac tristique erat, eu faucibus mi.

    Nulla facilisi. Quisque auctor lorem sit amet risus pulvinar efficitur. Vestibulum vel laoreet nibh. Fusce luctus vestibulum nunc eget fermentum. Mauris efficitur magna ac blandit aliquet. Cras scelerisque et quam egestas semper. Quisque maximus mollis magna. Phasellus et accumsan neque, ut aliquam mauris. In eu mauris lacinia turpis eleifend venenatis. Phasellus a felis quis ipsum mollis luctus placerat in diam. Praesent placerat ex a purus tempus semper. Sed a laoreet purus. Nam blandit maximus lacus, ac commodo quam aliquet sed.

    Vestibulum sit amet maximus nibh. Nulla feugiat metus tortor, at vestibulum leo bibendum et. Duis cursus dapibus varius. Donec nec risus quis massa dictum euismod dignissim at erat. Fusce rutrum ex metus, in dapibus sapien bibendum ac. Mauris euismod justo ac mauris accumsan, at tincidunt justo dictum. Nam sit amet magna orci. Cras iaculis pulvinar tortor varius aliquet. Sed sed porttitor mauris, nec tempor libero. Integer scelerisque est sed massa porta, in luctus ante ornare. Pellentesque tincidunt vulputate laoreet. Sed id ex hendrerit, euismod ligula in, suscipit augue. Phasellus rutrum metus eget nisi tincidunt tristique ut vitae velit. Donec urna mi, fringilla quis arcu ut, porta efficitur libero.
</p>
<div>
    <canvas class="canvas-cross" id="myCanvas1" width="200" height="400"></canvas>
</div>
<div>
    <canvas class="canvas-cross" id="myCanvas2" width="300" height="500"></canvas>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius, lacus vitae auctor tincidunt, ex tellus convallis nibh, a scelerisque massa metus id nisi. Donec nec libero ex. Aliquam ac justo ex. Aliquam tristique in est ac iaculis. Morbi sagittis vitae turpis ut fermentum. Nulla neque libero, auctor non dictum nec, pellentesque vel purus. Cras eu odio ipsum. Proin auctor iaculis vehicula.

    Quisque malesuada vel augue ut tincidunt. Mauris dapibus laoreet ligula, eu blandit felis ornare et. Donec eros elit, mattis ut tellus vitae, egestas vehicula justo. Nulla non laoreet dui. Suspendisse volutpat et odio nec dignissim. Vestibulum eget sem urna. Sed maximus justo id ultrices volutpat. Proin dui nulla, imperdiet et augue a, blandit sollicitudin dui. Suspendisse iaculis vitae ipsum quis mattis. Nunc sagittis sem nec leo efficitur vestibulum.

    Vestibulum porttitor tincidunt viverra. Curabitur porttitor quam sem, a ultrices lorem condimentum sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In et mauris eros. Fusce blandit erat condimentum orci rhoncus, ut vehicula turpis commodo. Donec venenatis fermentum erat scelerisque malesuada. Nulla fringilla pharetra pulvinar. Curabitur non bibendum ex. Nunc egestas efficitur tellus at congue. Vivamus sollicitudin vulputate odio, quis venenatis sapien dictum et. Fusce aliquet orci et luctus efficitur. Aenean quis vehicula purus. Sed pharetra tincidunt neque, sit amet lacinia turpis aliquet ac. Nullam ac tristique erat, eu faucibus mi.

    Nulla facilisi. Quisque auctor lorem sit amet risus pulvinar efficitur. Vestibulum vel laoreet nibh. Fusce luctus vestibulum nunc eget fermentum. Mauris efficitur magna ac blandit aliquet. Cras scelerisque et quam egestas semper. Quisque maximus mollis magna. Phasellus et accumsan neque, ut aliquam mauris. In eu mauris lacinia turpis eleifend venenatis. Phasellus a felis quis ipsum mollis luctus placerat in diam. Praesent placerat ex a purus tempus semper. Sed a laoreet purus. Nam blandit maximus lacus, ac commodo quam aliquet sed.

    Vestibulum sit amet maximus nibh. Nulla feugiat metus tortor, at vestibulum leo bibendum et. Duis cursus dapibus varius. Donec nec risus quis massa dictum euismod dignissim at erat. Fusce rutrum ex metus, in dapibus sapien bibendum ac. Mauris euismod justo ac mauris accumsan, at tincidunt justo dictum. Nam sit amet magna orci. Cras iaculis pulvinar tortor varius aliquet. Sed sed porttitor mauris, nec tempor libero. Integer scelerisque est sed massa porta, in luctus ante ornare. Pellentesque tincidunt vulputate laoreet. Sed id ex hendrerit, euismod ligula in, suscipit augue. Phasellus rutrum metus eget nisi tincidunt tristique ut vitae velit. Donec urna mi, fringilla quis arcu ut, porta efficitur libero.
</p>
<div>
    <canvas class="canvas-cross" id="myCanvas3" width="500" height="100"></canvas>
</div>
<script src="mouseMove.js"></script>