body {
    background-image: url("https://media.istockphoto.com/id/1490463229/photo/white-baby-goat-standing-on-grass-with-yellow-flowers.webp?b=1&s=170667a&w=0&k=20&c=gPCpTYat4msyT31fp1DqGglqldso5-3tacre3i_ISdE=");
    background-repeat: repeat-x;
    background-position: center;
}
p {
    font-size: 25px;
    background-color: burlywood;
}
div {
    height: auto;
    width: 230px;
    font-size: 20px;
    padding: 5%;
    background-color: beige;
    text-align: center;
    margin: 40px;
}
.container {
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 760px;
    background-image: url("https://www.clipartbest.com/cliparts/pc5/bX7/pc5bX79oi.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 15px solid black;
}
.content {
    padding: 30px;
    width: auto;
    height: auto;
    text-align: center;
}